#u87-6
{
	background-color: transparent;
	font-size: 27px;
	line-height: 33px;
	font-family: hack, sans-serif;
	font-weight: 700;
	position: relative;
}

#u81,#u117,#u120
{
	background-color: transparent;
	position: relative;
}

#u123-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: hack, sans-serif;
	font-weight: 400;
	position: relative;
}

#u120:hover #u123-4 p
{
	color: #00FFFF;
	visibility: inherit;
}

#u125,#u128
{
	background-color: transparent;
	position: relative;
}

#u131-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-family: hack, sans-serif;
	font-weight: 400;
	position: relative;
}

#u128:hover #u131-4 p
{
	color: #00FFFF;
	visibility: inherit;
}

#u130
{
	position: relative;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u128.MuseMenuActive #u130
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u126
{
	background-color: transparent;
}

#menuu109,#u473
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u475-4
{
	background-color: transparent;
	text-align: center;
	font-size: 11px;
	line-height: 13px;
	position: relative;
}

#u473:hover #u475-4 p
{
	color: #00FFFF;
	visibility: inherit;
}

#u482
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u484-4
{
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 11px;
	line-height: 13px;
	position: relative;
}

#u482:hover #u484-4 p
{
	color: #00FFFF;
	visibility: inherit;
}

#u487
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u473.MuseMenuActive,#u482.MuseMenuActive,#u487.MuseMenuActive
{
	border-style: none;
	border-color: transparent;
}

#u490-4
{
	background-color: transparent;
	text-align: center;
	font-size: 11px;
	line-height: 13px;
	position: relative;
}

#u487:hover #u490-4 p
{
	color: #00FFFF;
	visibility: inherit;
}

#u127,#u472,#u479,#u486,#u132,#u135
{
	background-color: transparent;
	position: relative;
}

#u137-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-family: hack, sans-serif;
	font-weight: 400;
	position: relative;
}

#u135:hover #u137-4 p
{
	color: #00FFFF;
	visibility: inherit;
}

#u152,#u155
{
	background-color: transparent;
	position: relative;
}

#u158-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-family: hack, sans-serif;
	font-weight: 400;
	position: relative;
}

#u155:hover #u158-4 p
{
	color: #00FFFF;
	visibility: inherit;
}

#u120.MuseMenuActive #u123-4 p,#u128.MuseMenuActive #u131-4 p,#u473.MuseMenuActive #u475-4 p,#u482.MuseMenuActive #u484-4 p,#u487.MuseMenuActive #u490-4 p,#u135.MuseMenuActive #u137-4 p,#u155.MuseMenuActive #u158-4 p
{
	color: #000000;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

