.version.store /* version checker */
{
	color: #0000E4;
	background-color: #B2BAD1;
}

.html
{
	background-color: #D8D8D8;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 0px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 500px;
	margin-left: auto;
	margin-right: auto;
}

#u81
{
	z-index: 2;
	width: 67px;
	margin-right: -10000px;
	margin-top: -66px;
	left: 22px;
}

#u87-6
{
	z-index: 4;
	width: 246px;
	min-height: 63px;
	margin-right: -10000px;
	margin-top: -66px;
	left: 103px;
}

#menuu109
{
	z-index: 10;
	width: 531px;
	margin-right: -10000px;
	margin-top: -67px;
	left: 427px;
}

#u117
{
	width: 131px;
	min-height: 34px;
	margin-right: -10000px;
}

#u120
{
	width: 131px;
	padding-bottom: 17px;
}

#u120:hover
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u123-4
{
	width: 131px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u120:hover #u123-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 131px;
	margin: 0px -10000px 0px 0px;
}

#u125
{
	width: 131px;
	min-height: 34px;
	margin-right: -10000px;
	left: 133px;
}

#u128
{
	width: 131px;
	padding-bottom: 17px;
}

#u131-4
{
	width: 117px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u128:hover #u131-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u128.MuseMenuActive #u131-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u130
{
	z-index: 23;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 117px;
}

#u128.MuseMenuActive #u130
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u126
{
	width: 120px;
	top: 34px;
}

#u127
{
	width: 120px;
}

#u473
{
	width: 119px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u473:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u475-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 3px;
}

#u473:hover #u475-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u482
{
	width: 119px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u473.MuseMenuActive,#u482:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u484-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 3px;
}

#u473.MuseMenuActive #u475-4,#u482:hover #u484-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u472,#u479,#u486
{
	width: 120px;
	padding-bottom: 1px;
}

#u487
{
	width: 119px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u482.MuseMenuActive,#u487:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u487.MuseMenuActive
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u490-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 3px;
}

#u482.MuseMenuActive #u484-4,#u487:hover #u490-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u487.MuseMenuActive #u490-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u132
{
	width: 131px;
	min-height: 34px;
	margin-right: -10000px;
	left: 266px;
}

#u135
{
	width: 131px;
	padding-bottom: 17px;
}

#u120.MuseMenuActive,#u128.MuseMenuActive,#u135.MuseMenuActive
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u137-4
{
	width: 131px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u120.MuseMenuActive #u123-4,#u135:hover #u137-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 131px;
	margin: 0px -10000px 0px 0px;
}

#u135.MuseMenuActive #u137-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 131px;
	margin: 0px -10000px 0px 0px;
}

#u152
{
	width: 132px;
	min-height: 34px;
	margin-right: -10000px;
	left: 399px;
}

#u155
{
	width: 132px;
	padding-bottom: 17px;
}

#u155.MuseMenuActive
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u158-4
{
	width: 132px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u155:hover #u158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u155.MuseMenuActive #u158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 75px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

